html
	head
		link(rel="stylesheet" href="/libs/bootstrap4/css/bootstrap.css")
		link(rel="stylesheet" href="/css/estilos.css")
	
	body.c404
		.container
			.row
				.col.align-self-center
					img(src="/images/404.jpg")