html(lang="es")
	head
		meta(charset="UTF-8")
		title Carta de Postulación
		link(rel="stylesheet", href="/css/carta.css")
		link(rel="stylesheet", href="/libs/bootstrap4/css/bootstrap.css")
	body
		.container
			.row
				.col-3
					img(src="/images/img.png", alt="logo IUTP", width="100%")
				.col
					p.tam1.text-center.font-weight-bold INSTITUTO UNIVERSITARIO DE TECNOLOGIA PASCAL
					p.text-center.tam2 Gaceta Oficial N° 36.104 / Decreto Presidencial de la República N° 1608
					.divisor
					p.text-center.tam2 Calle Páez C/C Mariño. Cagua Estado Aragua.
					p.text-center.tam2 Telf. 0244 - 395.85.64
					p.text-center.tam2 Fax. 0244 - 447.21.02
						span.font-weight-bold / Email: mierdanose@dominio.net.ve
					.divisor
			.row.justify-content-center
				.col-12(style="margin-top:3%")
					p.font-weight-bold.tam2 Ciudadano (a)
					p.font-weight-bold.tam2 William Matute
					p.font-weight-bold.tam2 SEDICOMVET, CA
					p.font-weight-bold.tam2 Presente.-
				.col-12(style="margin-top:3%")
					p.text1.text-justify Tengo el agrado de dirigirme a usted, a objeto de postular a 
						span.font-weight-bold #{campos[0].nombre} #{campos[0].apellido} 
						span portador (a) de la 
						span.font-weight-bold Cédula de Identidad V.-#{campos[0].cedula} 
						span alumno (a) regular del sexto semestre en este instituto de Educación Superior en la carrera de 
						span.font-weight-bold TECNOLOGIA DE ALIMENTOS 
						span y desearía con mucho agrado cursar las Pasantías Profesionales en esa prestigiosa empresa a partir del 31 de febrero del 2045.
					p.text1.text-justify En otro orden de ideas cabe señalar que la duración mínima establecida para el pasante es de catorce (14) semanas a tiempo completo debiendo concluir el día 15 de Enero del 2017 (fecha estimada)
					p.tam2.text1.text-justify Agradeciendo infinitamente, su atención y colaboración prestada.
					div(style="width:200px; margin: auto; margin-top:10%")
						p.text1(style=" margin-left: -11%") Se despide de Usted
						p.text1(style=" margin-left: 2%") Atentamente
					div.firma(style="margin-top:11%")
					p.tam2.text-center MSc. Henry Padilla B.
					p.tam2.text-center Coordinador de Pasantías
				.col-12(style="margin-top:15%")
					p.tam2 Anexo al presente. Curriculum Vitae del Alumno.
					p.tam2 Pasantías Postulaciones A.M 927.